<!DOCTYPE html>
<html lang="ar">
<head>
	<title>عن الموقع</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img src="{{ url_for('static', filename='image.png') }}" alt="Image">
			</div>
			<div class="col-md-6">
				<h1> عن الموقع</h1>
				<p>يتمثل موقعنا في تعلم البرمجة في منصة تعليمية عبر الإنترنت تهدف إلى تسهيل عملية تعلم البرمجة للمبتدئين والمتوسطين في جميع أنحاء العالم. يتميز الموقع بتقديم مجموعة واسعة من المواد التعليمية المجانية لتعلم البرمجة، بما في ذلك الدروس المصورة والتمارين العملية والمشاريع العملية.</p>
			<p>
تستخدم المنصة أساليب تعليمية متعددة مثل الفيديوهات التعليمية والتمارين العملية والمشاريع العملية لتسهيل عملية التعلم. وتهدف المنصة إلى توفير بيئة تعليمية ودية ومحفزة تساعد المتعلمين على تحقيق أهدافهم في تعلم البرمجة.</p>
		</div>
	</div>
</body>
</html>